# ЭО Платформа конфигурациясы
# Бұл файлды .env деп атаңыз

# MySQL байланысы
DB_HOST=localhost
DB_HOST=0.0.0.0
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=eo_platform

# JWT кілті (кездейсоқ ұзын жол)
JWT_SECRET=k9F3sL0xQp8Vn2R7tY4wZc6B1mH5eD9aK

# Сервер порты
PORT=3000
